# IDE
.idea

# Other
src/nop37/Nop.Plugin.Widgets.LiveChatInc/obj/
src/nop38/Nop.Plugin.Widgets.LiveChatInc/obj/
src/nop39/Nop.Plugin.Widgets.LiveChatInc/obj/
src/nop40/Nop.Plugin.Widgets.LiveChatInc/obj/
